ody {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 40px;
    margin-right: 10px;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.container {
    display: flex;
    flex: 1;
}

aside {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #f9f9f9;
    border-right: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
    height: calc(100vh - 52px); /* Subtract the height of the header */
}

aside ul {
    list-style-type: none;
    padding: 0;
    flex-grow: 1;
}

aside ul li {
    margin: 10px 0;
}

aside ul li a{
    text-decoration: none;
    color: #333;
}

aside .settings {
    margin-top: auto;
}

main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

main h2 {
    font-size: 1.5em;
}

main p {
    margin: 10px 0;
}

main ul {
    list-style-type: disc;
    margin-left: 20px;
}
