.sidebar {
  display: flex;
  flex: 0.25;
  overflow: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #333;
  color: white;
  border-right: 3px solid #ddd;
  padding: 15px;
  box-sizing: border-box;
  height: calc(96vh - 52px);
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  flex-grow: 1;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: white;
  padding: 8px;
  border-radius: 4px;
  display: block;
}

.sidebar nav ul li a.active-link {
  font-weight: bold;
  color: #333;
  background-color: #ff8c00;
}

.sidebar div.settings {
  margin-top: auto;
}

.sidebar h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
